$color-primary: #55c57a;
$gr-light: rgba(126, 213, 111, 0.8);
$gr-dark: rgba(40, 180, 131, 0.8);
$orange-dark: #ff7730;
$white-color: #fff;
$black-blur: rgba(0, 0, 0, 0.2);

$f-title: "Roboto", sans-serif;
$f-body: "Open Sans", sans-serif;
