.covid {
    background-image: url("https://static.wixstatic.com/media/11062b_8deb790af4fc4a8684a730e0d287669d~mv2.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;

    &-wrapper {
        height: 100vh;
        background-color: rgba(179, 14, 64, 0.54);
        display: flex;
        align-items: center;
        text-transform: uppercase;
        text-align: center;
    }

    & p {
        max-width: 95%;
        font-size: 26px;
        margin: 0 auto;
        color: #ffffff;
        letter-spacing: 1px;
        text-shadow: 3px 2px black;
    }
}
